@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #f3f3f3;
}

button {
    all: unset;
    cursor: pointer;
}
.header {
    background-color: #fff;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.header img {
    width: 200px;
}

button#voltar {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s all ease;
}

button#voltar:hover {
    background-color: #ff0000;
    font-weight: bold;
}

.form {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.form select {
    font-size: 20px;
    padding: 4px;
}

.form .select {
    grid-column: 2;
    margin: 0 auto;
}

.contato {
    grid-column: 1;
    margin: 0 auto;
}

.email {
    grid-column: 2;
    margin: 0 auto;
}

.responsavel {
    margin: 0 auto;
}

#info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hidden {
    display: none;
}

#btnSalvar {
    background-color: green;
    color: white;
}