@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}


button#voltar {
    border-radius: 50%;
    text-align: center;
    transition: 0.3s all ease;
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 2px 4px;
}

button#voltar:hover {
    background-color: #ff0000;
    font-weight: bold;
}

