@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto;
}

button {
    all: unset;
}

.sidebar {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar label,
.sidebar select {
    margin-bottom: 15px;
    display: block;
    width: 100%;
    padding: 4px;
}

.sidebar img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 20px;
}

main {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    justify-content: center;
}

table#tabela-faturamento, table#tabela-faturamento-colab {
    margin-top: 50px;
    width: 90%;
    border-collapse: collapse;
}

td,
th {
    border: 2px solid black;
    padding: 5px;
}

td:nth-child(2),
td:nth-child(3),
td:nth-child(4) {
    text-align: center;
}

.nav-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
}

.nav-toggle {
    position: absolute;
    left: 10px;
    top: 10px;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
    z-index: 1001;
}

nav {
    justify-content: space-between;
}

nav button {
    text-align: center;
}

.nav-menu {
    display: none;
    flex-direction: column;
    background-color: #333;
    width: 300px;
    position: absolute;
    top: 50px;
    left: 10px;
    z-index: 1000;
}

.nav-menu.active {
    display: flex;
}

.nav-toggle {
    display: block;
}

.nav-menu.active {
    display: flex;
}

.nav-menu button {
    cursor: pointer;
    padding: 8px;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #444;
}

.nav-menu button:hover {
    background-color: #555;
}

#buttons {
    display: grid;
    grid-template-columns: 250px 250px;
    grid-row: auto auto;
    gap: 15px;
    padding: 15px;
}

#buttons button {
    padding: 5px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    font-weight: 500;
    cursor: pointer;
    transition: .3s all ease;
    opacity: 0.5;
}
button#marcar-todos{
    background-color: #ffa621;
    grid-column: 1;
}

button#confirmar-pagamento {
    background-color: #21ff29;
    grid-column: 1;
}

button#adicionar-valor {
    background-color: #fbff21;
    grid-column: 2;
    grid-row: 1;
}

#buttons input {
    width: 180px;
    font-size: 16px;
    margin: 0 auto;
}

#buttons button:hover {
    opacity: 1;
}