@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #f3f3f3;
}

button {
    all: unset;
    cursor: pointer;
}
.header {
    background-color: #fff;
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
}

.header img {
    width: 200px;
}

button#voltar {
    width: 100px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s all ease;
}

button#voltar:hover {
    background-color: #ff0000;
    font-weight: bold;
}

.form {
    padding: 3rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 30px;
}

.form select {
    font-size: 20px;
    padding: 4px;
}

.form .select {
    grid-column: 2;
    margin: 0 auto;
}

.contato {
    grid-column: 1;
    margin: 0 auto;
}

.email {
    grid-column: 2;
    margin: 0 auto;
}

.responsavel {
    margin: 0 auto;
}

#info {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hidden {
    display: none;
}

#btnSalvar {
    background-color: green;
    color: white;
}


#menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
    margin-top: 30px;
    min-width: 10rem;
    padding: .5rem 0;
    transition: .3s all ease;
    animation: fadeIn .5s ease-in-out forwards;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .25rem 1.5rem;
    border-radius: 2px;
    transition: .3s all ease;
    text-align: center;
}

#menu a#tab-imagens {
    font-weight: bold;
}

#menu a i {
    margin-right: 10px;
}

#menu a:hover {
    background-color: #ccc;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}