@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body.light-mode {
    background-color: #f0f0f0;
    color: #333;
}

button {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 100vh;
}

main .buttons {
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

main .buttons button {
    width: 400px;
    height: 50px;
    border: 2px solid black;
    border-radius: 20px;
    text-align: center;
    transition: 0.3s all ease;
    text-transform: uppercase;
}

.buttons button:hover {
    background-color: red;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    transition: 0.3s all ease;
}

.logo img:hover {
    scale: 1.2;
}


.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: #000000;
}

/* Estilos para o tema escuro */
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}