@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

body {
    background-color: #292929;
    color: #fff;

}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(235, 235, 235, 0.6);
}

header h1 {
    font-size: 18px;
}

button#show-menu {
    padding: 3px;
}

button {
    all: unset;
    cursor: pointer;
}


.hidden {
    display: none;

}

#menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
    margin-top: 30px;
    min-width: 10rem;
    padding: .5rem 0;
    transition: .3s all ease;
    animation: fadeIn .5s ease-in-out forwards;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .25rem 1.5rem;
    border-radius: 2px;
    transition: .3s all ease;
    text-align: center;
}

#menu a#tab-imagens {
    font-weight: bold;
}

#menu a i {
    margin-right: 10px;
}

#menu a:hover {
    background-color: #ccc;
}

main {
    display: grid;
    grid-template-rows: 300px auto;
    grid-template-columns: 1fr;
    justify-content: center;
    padding: 20px;
    gap: 50px;
    height: 90vh;
}

#data {
    text-transform: capitalize;
}

.infos-pessoais {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    grid-column: 1 / span 2;
}

.infos-pessoais p#saudacao {
    font-size: 32px;
    font-weight: 500;
}

.tasks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    background-color: #535353;
    border-radius: 15px;
    width: 500px;
}

.tasks-check,
.tasks-to-do {
    display: flex;
    gap: 20px;
}

.nav {
    padding: 1rem;
    display: grid;
    grid-template-columns: 600px 600px;
    gap: 20px;
    align-items: stretch;
    justify-content: center;
}

.nav iframe {
    width: 100%;
    height: 100%;
    border: none;
}

.last-tasks {
    background-color: #4e4e4e;
    border-radius: 10px;
    padding: 20px;
    border: 2px solid #808080;
    height: auto;
}

.last-tasks ul {
    margin-top: 20px;
    margin-left: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* body {
    height: 100vh;
    
}

body.light-mode {
    background-color: #f0f0f0;
    color: #333;
}

body.dark-mode {
    background-color: #333333;
    color: #ffffff;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    transition: .4s;
    border-radius: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    border-radius: 50%;
    left: 4px;
    bottom: 4px;
    background-color: #ffffff;
    transition: .4s;
}

input:checked+.slider {
    background-color: #ffffff;
}

input:checked+.slider:before {
    transform: translateX(26px);
    background-color: #000000;
}

button, a {
    all: unset;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: calc(100vh - 74px);
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
}

main h1 {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    font-size: 48px;
    animation-delay: 0.5s;
}

.buttons {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 30px;

}

main h1,
.buttons {
    opacity: 0;
    animation: fadeIn .8s ease-in-out forwards;
}

.buttons a {
    transition: 0.3s all ease;
    text-transform: uppercase;
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
    font-size: 14px;
    border-bottom: 1px solid white;
}

.buttons button:hover {
    background-color: #00eeff73;
    font-weight: 600;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img {
    transition: 0.3s all ease;
}

.logo img:hover {
    scale: 1.2;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
} */