@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');


* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #eeeeee;

}

main {
    display: grid;
    height: 100vh;
    transition: grid-template-columns 0.3s ease;
}

#toggleButton {
    padding: 10px;
    cursor: pointer;
}

main.sidebar-hidden {
    grid-template-columns: 0 1fr;
}

.sidebar {
    background-color: #eeeeee;
    padding: 10px;
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    position: fixed;
    height: 100vh;
    width: 200px;
    animation: slideRight 0.2s ease-out;
}

button {
    all: unset;
}

.top p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 24px;
    text-align: center;
}

.content {
    display: flex;
    align-items: center;
    gap: 30px;
    flex-direction: column;
}

.content input {
    padding: 5px 5px;
    border-radius: 15px;
    box-shadow: 0 2px 4px black;
    border: none;
}

a {
    all: unset;
    cursor: pointer;
}

.content a:active {
    background-color: white;
    border-radius: 15px;
}

.content .nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.nav a {
    padding: 5px;
    font-size: 14px;
}

.nav a i {
    margin-right: 8px;
}

.main-content {
    box-shadow: 0 2px 4px black;
    background-color: white;
}

.main-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap: 20px;
}

.dashboard-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 20px;
    gap: 30px;
}

.dashboard-header h1 {
    font-size: 24px;
    color: #333;
}

.stats-container {
    display: flex;
    gap: 20px;
}

.stat-card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 95%;
    text-align: center;
}

.stat-card h2 {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}

.stat-card p {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.lucro {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lucro p,
.lucro span {
    font-size: 16px;
    color: black;
    font-weight: 500;
}

.lucro span {
    font-weight: 600;
    color: green;
}

.chart-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.chart-title {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
}


.carousel .obra {
    margin: 2rem;
    padding: 1.4rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.548);
}

.carousel p {
    font-size: 2rem;
    text-align: center;
    font-weight: 500;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.legenda {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
}

.legenda h3 {
    font-size: 18px;
}

.legenda-item {
    display: flex;
    align-items: center;
}

.legenda-item .cor {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    border-radius: 50%;
}

.legenda-item span {
    font-size: 16px;
}

#painel {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 200px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    transition: 0.3s all ease;
}

.card h3 {
    margin: 0;
    font-size: 1.2em;
    color: #333;
}

.card:hover {
    filter: brightness(0.85);
    transform: scale(1.05);
}

#grafico {
    width: 700px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

/* #graficoPorcentagem {
    width: 100%;
    height: 100%;
} */

#funcoes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px;
}

.modalInfos,
.modalOrcamento {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.orcamento-form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: center;
}

#infos-obra {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    width: 80%;
    height: auto;
    max-height: 80%;
    overflow-y: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    animation: slideDown 0.3s ease-out;
    display: flex;
    flex-direction: column;
    gap: 15px;
}


#funcoes {
    margin-top: 10px;
    font-size: 0.9rem;
    color: #444;
}

.obra-valores {
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, sans-serif;
}

.valor-item {
    font-size: 16px;
}

.valor-item strong {
    font-weight: bold;
}

.valor-item span {
    font-weight: normal;
    color: #333;
}

/* Animação do modal */
@keyframes slideDown {
    from {
        transform: translateY(-30px);
        opacity: 0;
    }

    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideRight {
    from {
        transform: translateX(-30px);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}