@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

header {
    background-color: #42d5df;
    color: white;
    padding: 15px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#button-sair {
    background-color: #0066ff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#button-sair:hover {
    background-color: #033797;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    height: 100vh;
}

.coluna {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 45%;
    max-height: 80%;
    overflow-y: auto;
}

.coluna h2 {
    margin-bottom: 10px;
}

#filtro h1 {
    font-size: 24px;
}

#filtro select, input {
    font-size: 16px;
}

#filtro {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #42d9df;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .coluna {
        width: 100%;
    }
}