@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
}

button, a {
    all: unset;
}

header {
	background: linear-gradient(90deg, #1a1a2e 0%, #3e4a70 50%, #2b2b3b 100%);
    color: white;
    padding: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    gap: 20px;
    height: 100vh;
}

.coluna {
    background-color: white;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 45%;
    max-height: 80%;
    overflow-y: auto;
}

.coluna h2 {
    margin-bottom: 10px;
}

#filtro h1 {
    font-size: 24px;
}

#filtro select, input {
    font-size: 16px;
}

#filtro {
    margin-bottom: 2rem;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 12px 15px;
    border: 1px solid #000000;
    text-align: left;
}

th {
    background-color: #3E6470;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
        align-items: center;
    }

    .coluna {
        width: 100%;
    }
}

.hidden {
    display: none;
}

#menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
    margin-top: 30px;
    min-width: 10rem;
    padding: .5rem 0;
    transition: .3s all ease;
    animation: fadeIn .5s ease-in-out forwards;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .25rem 1.5rem;
    border-radius: 2px;
    transition: .3s all ease;
    text-align: center;
    cursor: pointer;
}

#menu a#tab-imagens {
    font-weight: bold;
}

#menu a i {
    margin-right: 10px;
}

#menu a:hover {
    background-color: #ccc;
}


@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}