@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    position: sticky;
    top: 0;
    background-color: #f1f1f1;
    z-index: 100;
}

body {
    display: grid;
    grid-template-columns: 60px 1fr;
}


button,
a {
    all: unset;
    cursor: pointer;
}

.hidden {
    display: none !important;

}

.main,
.container-aprovacao {
    display: flex;
    flex-direction: column;
    grid-column: 2;
    overflow-x: auto;
}

.contagem {
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
    margin: 15px 0;
}

#contagem_alt {
    display: flex;
    justify-content: center;
    gap: 20px;
}

#menu {
    background-color: #f1f1f1;
    border-radius: 10px;
    position: absolute;
    left: 10px;
    z-index: 1;
    margin-top: 30px;
    min-width: 10rem;
    padding: .5rem 0;
    transition: .3s all ease;
    animation: fadeIn .5s ease-in-out forwards;
}

#menu a {
    display: block;
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 1rem;
    padding: .25rem 1.5rem;
    border-radius: 2px;
    transition: .3s all ease;
    text-align: center;
}

#menu a#tab-imagens {
    font-weight: bold;
}

#menu a i {
    margin-right: 10px;
}

#menu a:hover {
    background-color: #ccc;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
}

h2 {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.task-item {
    padding: 15px;
    margin: 15px 0;
    border: 1px solid #e0e0e0;
    background-color: #f9f9f9;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.task-item:hover {
    transform: translateY(-2px);
    background-color: #f1f7ff;
}

.task-info {
    flex-grow: 1;
}

#task-info {
    text-align: center;
}

.task-info h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.task-info p {
    margin: 5px 0;
    font-size: 14px;
    color: #666;
}

.task-actions {
    display: grid;
    gap: 10px;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr;
}

.task-details {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f8ff;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
}

.task-item.open .task-details {
    display: block;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


#check {
    background-color: #1a9cf3;
}

#xmark {
    background-color: #ec2727;
}

#historico_modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    grid-template-columns: 1fr;
}

.historico-container,
.historico-add {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    max-width: 90vw;
    width: 90vw;
    overflow-y: auto;
    max-height: 80%;
    margin: auto;
}

.historico-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#historico_modal.complete {
    grid-template-rows: 1fr 1fr;
}

.historico-card {
    background: #f9f9f9;
    padding: 15px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.historico-item {
    margin-bottom: 5px;
}

.historico-item strong {
    color: #333;
}

.observacoes {
    margin-left: 30px;
}

#add_obs {
    background-color: #08af08;
}

#adicionar_obs button#submit {
    background-color: green;
    color: white;
    padding: 2px 6px;
    border-radius: 15px;
    font-size: 14px;
    margin: 10px 0 0;
    cursor: pointer;
}

#adicionar_obs h3 {
    margin-bottom: 5px;
}

#adicionar_obs p {
    font-size: 12px;
}

#adicionar_obs span {
    font-weight: bold;
}


.table-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Ajuste a tabela */
#tabelaHistorico {
    width: 80% !important;
    border-collapse: collapse;
    margin: 30px auto;
}

#tabelaHistorico th,
#tabelaHistorico td {
    padding: 8px;
    text-align: center;
    border: 1px solid #d8d8d8;
}

#tabelaHistorico th {
    background-color: #f2f2f2;
}


.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
}

.alternar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.alternar button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 14px;
    transition: 0.3s all ease;
}

.alternar button:nth-child(1) {
    background-color: #007bff;
    /* Azul */
}

.alternar button:nth-child(2) {
    background-color: #ffc107;
    /* Amarelo */
}

.alternar button:nth-child(3) {
    background-color: #28a745;
    /* Verde */
}

.alternar button:hover {
    opacity: 0.8;
}

.comment-marker {
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    cursor: pointer;
    transform: translate(-50%, -50%);
}

nav {
    border-top: 1px solid;
    border-bottom: 1px solid;
    color: black;
    max-height: 100px;
    background: gainsboro;
}

.image {
    height: 100px;
    transition: 0.3s;
}

.image:hover {
    cursor: pointer;
}

.imagens {
    display: grid;
    grid-template-columns: 1fr 300px;
    justify-content: center;
}

#imageContainer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
}

#imagens {
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    justify-content: center;
    overflow-x: auto;
    max-width: 90%;
    margin: auto;
}


#imagem_completa {
    position: relative;
    display: inline-block;
    margin: 20px auto;
    width: 80%;
    height: max-content;
}


.sidebar-direita {
    border-left: 1px solid black;
}

.sidebar-direita h3 {
    text-align: center;
}

/* Estilo para o comentário */
.comment {
    position: absolute;
    cursor: pointer;
    padding: 5px;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    transition: all 0.3s ease-in-out;
    transform: translate(-50%, -50%);

}

/* 
.tooltip:hover::after {
    content: attr(data-tooltip);
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    transition: 0.3s all ease;
}
 */

.comment-number.highlight {
    background-color: #007bff;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.action-btn {
    padding: 5px 2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease;
    color: white;
}


.comentarios {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.comentarios::-webkit-scrollbar {
    width: 5px;
}

.comentarios::-webkit-scrollbar-thumb {
    background-color: #747474;
    border-radius: 10px;
}

.comentarios::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

body::-webkit-scrollbar {
    width: 5px;
}

body::-webkit-scrollbar-thumb {
    background-color: #747474;
    border-radius: 10px;
}

body::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}



.comment-card {
    background-color: #333;
    border-radius: 8px;
    padding: 15px;
    color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    position: relative;
}

.comment-header {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 8px;
}

.comment-number {
    background-color: #666;
    color: white;
    padding: 4px 8px;
    border-radius: 50%;
    font-weight: bold;
}

.comment-user {
    font-weight: bold;
}

.comment-body {
    margin-bottom: 8px;
}

.comment-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comment-date {
    font-size: 12px;
    color: #888;
}

.comment-actions button {
    background: none;
    border: none;
    cursor: pointer;
    color: white;
    margin-left: 5px;
}

.comment-actions button:hover {
    color: red;
}

.filtros {
    margin: auto;
    display: flex;
    gap: 50px;
}

.filtros select {
    width: max-content;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid black;
}

.imageWrapper {
    position: relative;
}

.notification-dot {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 10px;
    height: 15px;
    background-color: red;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-size: 10px;
    text-align: center;
    color: white;
}


.context-menu {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 5px 0;
}

.context-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.context-menu ul li {
    padding: 10px 15px;
    cursor: pointer;
    font-size: 14px;
}

.context-menu ul li:hover {
    background-color: #f0f0f0;
}

#menuContexto {
    display: none;
    position: absolute;
    background: black;
    border: 1px solid black;
    padding: 4px;
    list-style: none;
    top: 183px;
    left: 1485px;
    font-size: 14px;
    color: white;
    border-radius: 10px;
    cursor: pointer;

}

#menuContexto li span {
    display: inline-block;
    transition: transform 0.3s ease;
}

#menuContexto li:hover span {
    animation: balanco 0.5s ease infinite;
}

@keyframes balanco {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(10deg);
    }

    50% {
        transform: rotate(-10deg);
    }

    75% {
        transform: rotate(5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}


img {
    -webkit-user-drag: none;
    user-select: none;
}

.nav-select {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

#indiceSelect {
    border: none;
    background: #676565;
    color: white;
    width: 100px;
    border-radius: 15px;
    padding: 5px 10px;
    text-align: center;
    font-weight: bold;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
}

h2#dataEnvio {
    text-align: center;
    font-size: 14px;
    color: #555;
    margin-bottom: 0;
}

.obra-card {
    background: #f2f2f2;
    padding: 12px;
    margin: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.obra-card:hover {
    background: #e0e0e0;
}

.obra-img-preview img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 8px;
    margin-right: 15px;
}

.obra-info h3 {
    margin: 0;
    font-size: 18px;
}

.obra-info p {
    margin: 5px 0 0;
    color: #666;
}

.container-main.expanded {
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    transition: 0.5s all ease;
    margin: 40px auto;
    gap: 100px;
}

.containerObra {
    width: 90%;
    max-width: 1200px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.tarefasObra {
    max-height: 70vh;
    overflow-y: auto;
}