@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.container {
    grid-column: 2;
}

h2 {
    text-align: center;
}

/* Estilo geral para a tabela */
table#gantt {
    border-collapse: collapse;
    width: 95%;
    font-size: 12px;
    margin: 20px auto;
}

table#gantt th,
table#gantt td {
    border: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10px;
}


table#gantt td:nth-child(2) {
    text-align: left;
    max-width: 100px;
}

table#gantt th:nth-child(2) {
    resize: horizontal;
    max-width: max-content;
}

table#gantt th {
    background-color: #f4f4f4;
    font-weight: bold;
}


/* Estilos específicos para cada tipo de imagem */
.posproducao {
    background-color: #e3f2fd;
    /* Azul claro */
    color: #0d47a1;
    /* Azul escuro */
}

.finalizacao {
    background-color: #e8f5e9;
    /* Verde claro */
    color: #1b5e20;
    /* Verde escuro */
}

.modelagem {
    background-color: #fff3e0;
    /* Laranja claro */
    color: #bf360c;
    /* Laranja escuro */
}

.caderno {
    background-color: #fce4ec;
    /* Rosa claro */
    color: #880e4f;
    /* Rosa escuro */
}

.composicao {
    background-color: #f9ffc6;
    /* Verde claro */
    color: #596112;
    /* Verde escuro*/
}