@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.container {
    grid-column: 2;
}

h2 {
    text-align: center;
}

/* Estilo geral para a tabela */
table#gantt {
    border-collapse: collapse;
    width: 95%;
    font-size: 12px;
    margin: 20px auto;
}

table#gantt th,
table#gantt td {
    border: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10px;
    user-select: none;
}


table#gantt th {
    background-color: #f4f4f4;
    font-weight: bold;
        border: 1px solid #000000;

}

td {
    padding: 10px 0;
}

/* Estilos específicos para cada tipo de imagem */
.posproducao {
    background-color: #e3f2fd;
    /* Azul claro */
    color: #0d47a1;
    /* Azul escuro */
    border: 1px solid !important;
}

.finalizacao {
    background-color: #e8f5e9;
    /* Verde claro */
    color: #1b5e20;
    /* Verde escuro */
    border: 1px solid !important;
}

.modelagem {
    background-color: #fff3e0;
    /* Laranja claro */
    color: #bf360c;
    /* Laranja escuro */
    border: 1px solid !important;
}

.caderno {
    background-color: #fce4ec;
    /* Rosa claro */
    color: #880e4f;
    /* Rosa escuro */
    border: 1px solid !important;
}

.composicao {
    background-color: #f9ffc6;
    /* Verde claro */
    color: #596112;
    /* Verde escuro*/
    border: 1px solid !important;
}

.plantahumanizada {
    background-color: #d0edf5;
    color: rgb(0, 4, 255);
    border: 1px solid !important;
}

#colaboradorModal {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: opacity 0.3s ease;
}


.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    min-width: 300px;
}

.arrastando {
    background-color: #e6f7ff !important;
    transition: transform 0.1s ease;
    position: relative;
    z-index: 5;
}