@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

body {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.container {
    grid-column: 2;
}

h2 {
    text-align: center;
}

/* Estilo geral para a tabela */
table#gantt {
    border-collapse: collapse;
    width: 95%;
    font-size: 12px;
    margin: 20px auto;
}

table#gantt th,
table#gantt td {
    border: 1px solid #ddd;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 10px;
    user-select: none;
}


table#gantt th {
    background-color: #f4f4f4;
    font-weight: bold;
    border: 1px solid #000000;

}

td {
    padding: 10px 0;
}

/* Estilos específicos para cada tipo de imagem */
.posproducao {
    background-color: #e3f2fd;
    /* Azul claro */
    color: #0d47a1;
    /* Azul escuro */
    border: 1px solid !important;
}

.finalizacao {
    background-color: #e8f5e9;
    /* Verde claro */
    color: #1b5e20;
    /* Verde escuro */
    border: 1px solid !important;
}

.modelagem {
    background-color: #fff3e0;
    /* Laranja claro */
    color: #bf360c;
    /* Laranja escuro */
    border: 1px solid !important;
}

.caderno {
    background-color: #fce4ec;
    /* Rosa claro */
    color: #880e4f;
    /* Rosa escuro */
    border: 1px solid !important;
}

.composicao {
    background-color: #f9ffc6;
    /* Verde claro */
    color: #596112;
    /* Verde escuro*/
    border: 1px solid !important;
}

.plantahumanizada {
    background-color: #d0edf5;
    color: rgb(0, 4, 255);
    border: 1px solid !important;
}

.filtrodeassets {
    background-color: #dcffec;
    color: rgb(0, 153, 33);
    border: 1px solid !important;
}

#colaboradorModal {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index: 999;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: opacity 0.3s ease;
}


.modal-content {
    background: white;
    padding: 10px;
    border-radius: 8px;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.modal-content div {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

#confirmarBtn,
#confirmarBtnTroca {
    background-color: #1b5e20;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    width: max-content;
    margin: 10px auto 0 auto;
    padding: 2px 4px;
    transition: 0.3s all ease;
}

#confirmarBtn:hover,
#confirmarBtnTroca:hover {
    background-color: #114b14;
    cursor: pointer;
}

.arrastando {
    background-color: #e6f7ff !important;
    transition: transform 0.1s ease;
    position: relative;
    z-index: 5;
}

#btnTrocar.active,
#btnRemoverEAlocar.active {
    background-color: #ffc107;
    color: black;
    font-weight: bold;
}

#modalConflito {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    background: rgb(255, 255, 255);
    padding: 20px;
    border: 1px solid rgb(204, 204, 204);
    z-index: 999;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    transition: opacity 0.3s ease;
}

.buttons {
    display: flex;
    justify-content: space-around;
}


th.selecionado {
    background-color: rgba(0, 128, 255, 0.3) !important;
    outline: 1px solid #007bff !important;
}

.tooltip-box {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
    display: none;
    z-index: 1000;
}


.drag-list {
    list-style: none;
    padding: 0;
    border: 1px solid #ccc;
    min-width: 200px;
    min-height: 200px;
}

.drag-item {
    padding: 6px;
    margin: 4px;
    background-color: #eee;
    cursor: grab;
    border: 1px solid #aaa;
}

.dragged {
    background-color: #add8e6 !important;
}

.colaborador-draggable:hover {
    background-color: #f0f0f0;
}

.imagem-dropzone:hover {
    background-color: #e0f7fa;
}

.imagemDiv,
.colabDiv {
    display: flex;
    flex-direction: column;
}

#listaImagens {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 10px;
    margin-top: 10px;
}

#colaboradoresArrastaveis {
    display: flex;
    justify-content: center;
    gap: 0 10px;
    margin-top: 10px;
}

td:nth-child(1) {
    min-width: 50px;
    max-width: 120px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.arrastando-header {
    background-color: lightblue !important;
}